# Tuist
.build/
Tuist/.build/
*.xcodeproj
*.xcworkspace
Derived/
graph.png

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Package.resolved
